footer {
  background-color: transparent;
  .name {
    font-weight: 600;
    font-size: 1.25rem;
    color: #e28413;
  }
  .icon-48 {
    font-size: 48px;

    padding-left: 12px;
  }

  .icon-48:hover {
    color: #e28413;
  }
  a,p {
    text-decoration: none;
    color: #f1fffa;
  }
  a:hover {
    color: #e28413;
  }
  .footer_realisation {
    color: #e28413;
  }
  .copyright {
    background-color: #f1fffa;
    p {
      small {
        color: #003d5b;
      }
    }
  }
}
