.carte {
  border-radius: 10px;
  background-color: #f1fffa;
}

.opacity {
  background-color: #00798c79;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 25%;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.titres {
  font-family: "Playfair Display", serif;
}

.paragraphe {
  font-family: "Montserrat", sans-serif;
}
